<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <style>
    li>pre {
      display: inline-block;
    }
  </style>
</head>

<body>
  <h1>{{title}}</h1>
  <p>Current Job templates:</p>
  <p><a href="{{rel '/queue'}}">Queue</a></p>
  <ul>
    {{#each jobTemplates}}
    <li>
      <h3>URI: &lt;{{this.uri}}&gt;</h3>
      <ul>
        <li>uuid:
          <pre>{{this.uuid}}</pre>
        </li>
        <li>status:
          <pre>{{printUriEnum this.status}} </pre>
        </li>
        <li>jobType:
          <pre>{{printUriEnum this.jobTemplateType}}</pre>
        </li>
        <li>function:
          <pre>{{printUriEnum this.datamonitoringFunction}}</pre>
        </li>
        {{#if (eq this.jobTemplateType @root.periodicValue)}}
        <li>Invocation time:
          <pre>{{this.information.timeOfInvocationInformation}}</pre>
        </li>
        {{/if}}
        {{#if (eq this.jobTemplateType @root.restValue)}}
        <li>REST path (click to start a new REST job based on the template):
          <pre><a
            href="{{rel '/start'}}/{{this.information.urlPath}}">/start/{{this.information.urlPath}}</a></pre>
        </li>
        {{/if}}
      </ul>
    </li>
    {{/each}}
  </ul>
</body>

</html>